# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Poetry
poetry.lock

# Virtual environment
.env/
.venv/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VSCode settings
.vscode/

#csv files
*.csv
