# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/


# Virtual environment
.env/
.venv/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VSCode settings
.vscode/

#csv files
*.csv

# ruff cache
.ruff_cache/

# Mac files
.DS_Store

#gradio cache
.cache/
.gradio/

#notebook cache
.ipynb_checkpoints/
notebooks/
